<!doctype html>
<html lang="ru">
<meta name="viewport" content="width=device-width, initial-scale=0, user-scalable=0, minimum-scale=0, maximum-scale=0">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Сохранить мир</title>
</head>

<body>
  <header class="header">
    <input type="button" onclick="location.href='contact.html';" value="Contact Us!" />
    </form>
    <h1>Project Geological</h1>
    <nav>
      <ul class="main-nav__list main-list">
        <li class="main-list__item list-item"></li>
        <a class="list-item__link" href="#home">HOME</a>
        </li>
        <li class="main-list__item list-item">
          <a class="list-item__link" href="#about">ABOUT</a>
        </li>
        <li class="main-list__item list-item">
          <a class="list-item__link" href="#Documentary">DOCUMENTARY</a>
        </li>
      </ul>
    </nav>
  </header>
  <img src="static/images/Python_Project_1.png" alt="logo" width='250' height='250'>
  <main>
    <h2>This Is A Documentary On How To Stop Global Warming and other Bad Biological Events</h2>
    <h3>№1</h3>
    <a class="list-item__link" href="#Speaker 1">
      <img src='static\images\Python_project_Speaker_1.png' height='30' width='30'>
    </a>
    <p>В результате добычи угля, нефти и газа ежегодно в атмосферу выбрасываются миллиарды тонн углекислого газа.
      Деятельность человека приводит к рекордно высоким уровням выбросов парниковых газов, причем никаких признаков
      замедления не наблюдается. Последние четыре года стали самыми теплыми за весь период метеорологических наблюдений.
      Согласно докладу Всемирной метеорологической организации (ВМО), представленному в сентябре 2019 года, на данный
      момент температура превышает температуру доиндустриальной эпохи по крайней мере на один градус Цельсия, в связи с
      чем мы близки к тому, чтобы взять на себя, по мнению ученых, «неприемлемый риск».</p>
    <p>
      В принятом в 2015 году Парижском соглашении об изменении климата
      содержится призыв к удержанию прироста среднемировой температуры намного ниже 2° С сверх доиндустриальных уровней
      и
      к
      приложению усилий в целях ограничения роста температуры до 1,5° С сверх доиндустриальных уровней. Вместе с тем
      если
      мы
      не замедлим темпы глобальных выбросов, то к 2100 году температура может подняться до 3° С сверх доиндустриальных
      уровней, что нанесет дополнительный непоправимый ущерб нашим экосистемам.
      Ледники и ледниковый покров в полярных и горных районах уже тают быстрее, чем когда-либо прежде, что приводит к
      повышению уровня моря. Почти две трети городов мира с населением более пяти миллионов человек расположены в
      районах,
      подверженных риску повышения уровня моря, и почти 40 процентов мирового населения проживает на расстоянии менее
      100
      км
      от побережья. Если не принять никаких мер, то целые районы Нью-Йорка, Шанхая, Абу-Даби, Осаки, Рио-де-Жанейро и
      многих
      других городов могут уйти под воду уже на нашем веку, что приведет к перемещению миллионов людей.
    </p>
    <h3>№2</h3>
    <a class="list-item__link" href="#Speaker 2">
      <img src='static\images\Python_project_Speaker_1.png' height='30' width='30'>
    </a>
    <p>Глобальное потепление сказывается на продовольственной и водной безопасности каждого человека.
      Изменение климата является непосредственной причиной деградации почв, что ограничивает количество удерживаемого
      землей углерода. Сегодня около 500 миллионов человек живут в районах, подверженных эрозии почв, и до 30 процентов
      продовольствия теряется или выбрасывается впустую. Между тем из-за изменения климата наблюдается сокращение объема
      водных запасов, используемых для питья и сельского хозяйства, а также ухудшение качества самой воды.
      Во многих регионах сельскохозяйственные культуры, процветавшие там веками, выживают все реже, в связи с чем
      ситуация с продовольственной безопасностью становится все менее стабильной. Такие последствия, как правило,
      сказываются в первую очередь на бедных и уязвимых слоях населения. Глобальное потепление, вероятно, приведет к
      увеличению разрыва в показателях экономического роста между богатейшими и беднейшими странами мира.
    </p>
    <h3>№3</h3>
    <a class="list-item__link" href="#Speaker 3">
      <img src='static\images\Python_project_Speaker_1.png' height='30' width='30'>
    </a>
    <p> Бедствия, связанные с экстремальными климатическими и погодными явлениями, обрушиваются на
      землю с незапамятных времен. Однако по мере глобального потепления они становятся все более частыми и
      разрушительными. Ни один континент не остался застрахованным от периодов сильной жары, засух, тайфунов и
      ураганов, которые приводят к массовому уничтожению во всем мире. В настоящее время 90 процентов стихийных
      бедствий классифицируются как связанные с погодой и климатом, и наносимый ими мировой экономике ущерб
      оценивается в 520 млрд долл. США в год, в результате чего 26 миллионов человек оказываются в нищете.</p>
    Изменение климата представляет собой серьезную угрозу международному миру и безопасности. Последствия изменения
    климата проявляются в ожесточении конкуренции за такие ресурсы, как земля, продовольствие и вода, и усилении
    социально-экономической напряженности, а также все чаще приводят к массовому перемещению населения.
    <h3> №4 </h3>
    <a class="list-item__link" href="#Speaker 4">
      <img src="static\images\Python_project_Speaker_1.png" height="30" width="30">
    </a>
    <p>Изменение климата умножает риски и усугубляет и без того существующие проблемы. Засухи в
      Африке и Латинской Америке являются непосредственной причиной политических беспорядков и насилия. По оценкам
      Всемирного банка, в отсутствие действий к 2050 году более 140 миллионов человек в странах Африки к югу от
      Сахары, Латинской Америки и Южной Азии будут вынуждены мигрировать в пределах своих регионов.
    </p>

    <h2>№5</h2>
    <a class="list-item__link" href="#Speaker 5">
      <img src='static\images\Python_project_Speaker_1.png' height='30' width='30'>
    </a>
    <p>
      Хотя, согласно результатам научных исследований, изменение климата неопровержимо, полученные данные также
      свидетельствуют о том, что этой тенденции еще можно положить конец. Для этого потребуются фундаментальные
      преобразования во всех аспектах жизни общества — в методах выращивания продовольственных культур,
      использования земли, транспортировки товаров и производства энергии в наших странах.
    </p>
    <p>
      Хотя технологии способствуют изменению климата, новые и эффективные технологии могут помочь нам сократить
      объем чистых выбросов и создать более «зеленую» планету. Сегодня более 70 процентов выбросов уже можно
      сократить благодаря готовым к использованию технологическим разработкам. Во многих местах возобновляемые
      источники энергии в настоящее время являются самой дешевой альтернативой, и электромобили готовы стать
      доминирующим видом транспорта.
    </p>
    <p>
      Эти перспективные разработки позволят всем нам совершить скачок к более чистому и более устойчивому миру.
      Если правительства, деловые и научные круги, гражданское общество и молодежь будут работать сообща, мы
      сможем создать «зеленую» планету, на которой будет меньше страданий, больше справедливости и на которой
      будет восстановлена гармония между людьми и окружающей средой.
    </p>

    <div class="Feedback">
          <p>Feedback</p>
      </div>
    </div>
    <div class="form-title">
          <input class="form__input " type="text" name="title" id="title" placeholder="Email" required>
    <div>
    <div class="form-subtitle"></div>
          <input class="form__input " type="text" name="subtitle" id="subtitle" placeholder="feedback" required>
    </div>
      <button class="form__button">Send</button>